body {
    background-color: #e0f2be;
}
.content {
    margin-left: 30%; /* Отступ слева */
    position: fixed; /* Фиксированное положение */
    left: 0; top: 0; /* Положение */
    width: 20%; /* Ширина слоя */
    padding: 5px; /* Поля */
    background-color: #bbccdd;
}
.edit {
    background: rgba(0,0,0, 0.5); /* Цвет фона с полупрозрачностью */
    color: #fff; /* Цвет текста */
    float: inherit; /* Абсолютное позиционирование */
    bottom: 30px; /* Положение снизу */
    width: 207px; /* Ширина слоя */
    padding: 5px; /* Поля */
}
