{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
<head>
    <title>DMC - {% block title %}{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/media/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="/media/css/base.css" />
    <!-- link rel="stylesheet" href="/media/css/bootstrap-responsive.css" /-->

    <link rel="shortcut icon" href="/media/img/favicon.png" />
    <link rel="apple-touch-icon" href="/media/img/favicon.png" />

    <script src="/media/js/jquery-1.11.1.js"></script>
    <script src="/media/js/jquery-ui-1.11.0/jquery-ui.js"></script>
    <script src="/media/js/bootstrap.js"></script>
    <script src="{% static 'django_ajax/js/jquery.ajax.js' %}"></script>
  {% block lib %}
  {% endblock %}
</head>
<body view_id name no_dhx="1">
<div class="container">
    <div class="row">
        <div class="span2">
            {% block menu %}
            {% endblock %}
        </div>
        <div class="span10">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>