<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
<head>
    <title>Zvonokla - {% block title %}{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    
    <link rel="stylesheet" href="/media/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/media/css/bootstrap-addition.css" />
    <link rel="stylesheet" href="/media/css/smoothness/jquery-ui-1.10.3.css" />
    <link rel="stylesheet" href="/media/css/font-awesome.css"/>
    <link rel="shortcut icon" href="/media/img/favicon.png" />
    <link rel="apple-touch-icon" href="/media/img/favicon.png" />

  <script src="/media/js/jquery-1.10.2.min.js"></script>
  <script src="/media/js/jquery-ui-1.10.3.js"></script>
  <script src="/media/js/bootstrap.min.js"></script>
  <!--
  <link rel="stylesheet/less" type="text/css" href="/media/css/less/bootstrap.less">
  <script src="/media/js/less.js"></script> -->	
  {% block lib %}
  {% endblock %}
</head>
<body view_id name no_dhx="1">

{% block menu %}
{% endblock %}

{% block body %}
{% endblock %}

</body>
</html>