<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
<head>
    <title>DMC - {% block title %}{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />

    <link rel="stylesheet" href="/media/css/base.css" />

    <link rel="shortcut icon" href="/media/img/favicon.png" />
    <link rel="apple-touch-icon" href="/media/img/favicon.png" />

    <script src="/media/js/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
    <script src="/media/js/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
  {% block lib %}
  {% endblock %}
</head>
<body view_id name no_dhx="1">
<div>
    <div>
    {% block menu %}
    {% endblock %}
     </div>
    <div class="content">
    {% block body %}
    {% endblock %}
    </div>
    <div class="edit">
    {% block edit %}
    {% endblock %}
    </div>
</div>
</body>
</html>