{% extends "home.html" %}
{% load extras i18n %}
{% load static from staticfiles %}
{% block title %}{{ model_name }}{% endblock title %}
{% block lib %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.js"></script>
{% endblock %}

{% block body %}
<script>
jQuery(document).ready(function() {
    $.fn.editable.defaults.mode = 'popup';
    $('.xedit').editable({
            /* url: '{#  url "model_update" model_name #}',
            type: 'text',
            success: function(s){
                if(s == 'status'){
                    alert('status '+s);
                    $(el).html(val);}
                if(s == 'error') {
                    alert('Error Processing your Request!');}
            },
            error: function(e){
                alert('Error Processing your Request!!'+e);
            }*/
    });
    /*$(document).on('click','.editable-submit',function(){
        var id = $(this).closest('td').children('span').attr('id');
        var val = $('.input-sm').val();
        var el = $(this).closest('td').children('span');
        $.ajax({
            url: '{# url "model_update" model_name  #} ',
            type: 'GET',
            success: function(s){
                if(s == 'status'){
                    $(el).html(val);}
                if(s == 'error') {
                    alert('Error Processing your Request!');}
            },
            error: function(e){
                alert('Error Processing your Request!!');
            }
        });
    }); */
});
</script>
    <table class="table table-bordered table-stripped table-hover" id="datatable">
    <thead>
        <tr>
            <th>ID</th>
        {% for f in model_fields %}
            <th>
                {{ f.field.label }}
            </th>
        {% endfor %}
        </tr>
    </thead>
    {% for obj in objs %}
    <tbody>
        <tr>
            <td id="0:{{ obj.id }}">{{ obj.id }}</td>
            {% for f in model_fields %}
                <td id="{{ obj.id }}">
                    <a href="#" class="myeditable editable editable-click xedit" data-pk="{{ obj.id }}" data-name="{{ f.field.name }}" data-value="{{ obj|by_attrname:f.field.name }}" data-url="{% url "model_update" model_name %}" data-type="{{ f.field_type }}" >{{ obj|by_attrname:f.field.name }}</a>
                </td>
            {% endfor %}
        </tr>
    </tbody>
    {% endfor %}
    </table>
    <div class="stretch">
		<form action="" method="post"  class="section primary form">
			<header>{% trans model_name %}</header>
			{{ form }}
			<footer>
				<button class="btn primary" name="save">{% trans 'Добавить' %}</button>
			</footer>
		</form>
	</div><div><textarea id="console" class="form-control" rows="8" style="width: 70%" autocomplete="off"></textarea></div>

{% endblock %}
