{% extends "home.html" %}
{% load extras i18n %}
{% load static from staticfiles %}
{% block title %}{{ model.model_name }}{% endblock title %}
{% block lib %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.js"></script>
{% endblock %}

{% block body %}
    <table class="table table-bordered table-stripped table-hover" id="datatable">
    <thead>
        <tr>
            <th>ID</th>
        {% for f, opts in fields.items %}
            <th>
                {{ opts.label }}
            </th>
        {% endfor %}
        </tr>
    </thead>
    {% for obj in objs %}
    <tbody>
        <tr>
            <td id="0:{{ obj.id }}">{{ obj.id }}</td>
            {% for f, opts in fields.items %}
                <td id="{{ obj.id }}">
                    <a href="#" class="editable editable-click" data-pk="{{ obj.id }}" data-name="{{ f }}" data-value="{{ obj|by_attrname:f}}" data-type="{{ opts.template_type }}" >{{ obj|by_attrname:f }}</a>
                </td>
            {% endfor %}
        </tr>
    </tbody>
    {% endfor %}
    </table>
    <div class="stretch">
        <form action="" method="post"  class="section primary form">
            <header>{% trans form.model.class_name %}</header>
            {{ form }}
            <footer><button class="btn primary" name="save">{% trans 'Добавить' %}</button></footer>
        </form>
    </div>
<script type="text/javascript">
$(function(){
    $('#datatable a').editable({
        url: "{% url "model_update" model.class_name %}"
    });
});
</script>

{% endblock %}
